<template>
  <div v-on:click="registerClickScreenEvent">
    <client-only>

      <vue-particles style="height: 100vh" />

      <div class="hello-text" :style="`font-size: ${fontSize}vw`">
        <v-row align="center" justify="center">
          <v-col    
          cols=12     
          v-for="(textData, index) in data"
          :key="index"
          class="my-1"
          >
            <v-row align="center" justify="center">
              <vue-typed-js
                :startDelay="1000"
                v-if="textData.show"
                :strings="[textData.text]"
                :showCursor="false"
                :contentType="'html'" 
                @onComplete='onCompletedLine(index, textData)' 

              >
                <span class="typing" style="text-align: center">
                </span>
              </vue-typed-js>
            </v-row>

          </v-col>
        </v-row>
        <transition name="slide-fade">
          <div v-if="showLinks" class="mt-15">
            <v-btn
              v-for="(link, index) in links" 
              :key="index"
              fab
              :x-small="$vuetify.breakpoint.mobile"
              :small="!$vuetify.breakpoint.mobile"
              color="black"
              :href="link.link"
              @click="registerEvent(link.firebaseEvent)"
            >
              <v-icon>{{link.icon}}</v-icon>
            </v-btn>
            </div>
        </transition>
      </div>
    </client-only>
  </div>



</template>

<script>

export default {
  data () {
    return {
      data: [
          {
            text: "hi, i'm malfrine",
            show: true,
            completelyVisible: false,
            label: "hi"
          },
          {
            text: "i'm an operations research scientist",
            show: false,
            completelyVisible: false,
            label: 'profession'
          },
          {
            text: "i work at providence health care",
            show: false,
            completelyVisible: false,
            label: 'job'
          },
          {
            text: "<span>i am building <a href=https://beta.two-cents.ca>two cents</a> </span>",
            show: false,
            completelyVisible: false,
            label: 'two_cents'
          }
      ],
      links: [
        {
          icon: 'mdi-linkedin',
          link: 'https://www.linkedin.com/in/malfrine/',
          firebaseEvent: 'click_linkedin'
        },
                {
          icon: 'mdi-twitter',
          link: 'https://twitter.com/malfrine/',
          firebaseEvent: 'click_twitter'
        },
                {
          icon: 'mdi-gitlab',
          link: 'https://gitlab.com/malfrine',
          firebaseEvent: 'click_gitlab'
        },
                {
          icon: 'mdi-github',
          link: 'https://github.com/malfrine',
          firebaseEvent: 'click_github'
        }
      ]
    }
  },
  computed: {
    numLines () {
      return this.data.length
    },
    fontSize () {
      switch (this.$vuetify.breakpoint.name) {
            case 'xs': return 4.0
            case 'sm': return 4.0
            case 'md': return 3.0
            case 'lg': return 2.5
            case 'xl': return 2.5
      }     
    },
    showLinks () {
      for (const text of this.data) {
        if (!text.completelyVisible) {
          return false
        }
      }
      return true
    }
  },
  methods: {
    onCompletedLine(completedLineIndex, completedLineObject) {
      const nextLineIndex = completedLineIndex + 1
      completedLineObject.completelyVisible = true
      if (nextLineIndex == (this.numLines)) {
        return
      }
      const nextlineObject = this.data[nextLineIndex]
      nextlineObject.show = true
      nextlineObject.showCursor = true 
      this.registerEvent(`finished_line_${completedLineObject.label}`)
    },
    registerEvent (event) {
      this.$fire.analytics.logEvent(event)
    },
    registerClickScreenEvent() {
      this.registerEvent("click_screen")
    }
  }

}
</script>

<style scoped>
.hello-text {
  color: #ffffff;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  font-family: monospace;
  font-size: 150%
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all .8s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
